.App header {
  height: 60px;
  background-color: rgb(209, 142, 142);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #fff;
  font-weight: lighter;
}

.App .container {
  display: flex;
  padding: 1rem;
  color: #555;
}
aside {
  margin-right: 2rem;
  min-width: 20%;
}
form div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
form input {
  height: 30px;
}
form textarea {
  height: 100px;
}
form input, form textarea,form button {
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: 1px solid rgb(209, 142, 142);
  font-family: 'Lato', sans-serif;

  font-family: 'Oswald', sans-serif;
}

form button {
  height: 40px;
  background-color: rgb(209, 142, 142);
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}

form button:hover {
  background-color: #f0f0f0;
  color: rgb(209, 142, 142);
}

section ul {
  list-style: none;
  display: flex;
  min-width: 80vh;
  flex-wrap: wrap;
  margin-top: 1rem;
}

section li {
  width: 18em;
  height: auto;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border:1px solid rgb(209, 142, 142);
  border-radius: 5px;
  padding: 1rem;
}

.item-btns button{
  margin-right: 0.5rem;
  margin-top: 1rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
}

.item-btns .edit {
  background-color: gray;
}

.item-btns .edit:hover {
  background-color: rgb(194, 180, 180);
}
.item-btns .delete {
  background-color: rgb(173, 39, 39);
}

.item-btns .delete:hover {
  background-color: red;
}

.container section,aside {
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #555;
}